html{
    height: 100%;
}

.container{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(5, 1fr);
  gap: 5% 10%;
}

/* Оформление элементам grid-контейнера: */
.container * {
  border-radius: 10px;
  /* background-color: rgba(82, 29, 179, 0.5); */
  text-align: center;
}

.R {
  grid-area: 1 / 1 / 3 / 2;
}

.G {
  grid-area: 2 / 1 / 4 / 2;
}

.B {
  grid-area: 3 / 1 / 5 / 2;
}

.C {
  grid-area: 1 / 2 / 5 / 6;
}
  
#color-area {
  width: 300px;
  height: 300px;
  margin: 20px 0;
  border: 1px solid;
  overflow: hidden;
}

input {
    margin: 5px;
}